<p>create-product works!</p>
<h3>Add Product</h3>
<div style="width: 400px;" style="padding-bottom: 10px;">
    <!-- <form (ngSubmit)="onSubmit()" style="padding-bottom: 10px;"> -->
      <form #createProductForm = "ngForm" novalidate>
        <div class="form-group" style="padding-bottom: 10px;">
          <label for="title">Product Title</label>
          <input type="text" id="title" class="form-control" placeholder="Enter the product title" #title="ngModel"
            required minlength="4" [(ngModel)]= "product.title" name="title" 
            [ngClass]="{'is-invalid':title?.errors && (title?.touched || title?.dirty),'is-valid':title?.valid}">
            <div class='invalid-feedback'>
              <strong *ngIf="title?.errors && (title?.touched || title?.dirty)">Title is not valid</strong>
            </div>
        </div>
        <div class="form-group" style="padding-bottom: 10px;">
            <label for="weight">Product Weight</label>
            <input type="text" id="weight" class="form-control" placeholder="Enter the product weight" required [(ngModel)]= "product.weight" name="weight">
          </div>
          <div class="form-group" style="padding-bottom: 10px;">
            <label for="category">Product Category</label>
            <input type="text" id="category" class="form-control" placeholder="Enter the product category" required [(ngModel)]= "product.category" name="category">
          </div>
          <div class="form-group" style="padding-bottom: 10px;">
            <label for="brand">Product Brand</label>
            <input type="text" id="brand" class="form-control" placeholder="Enter the product brand" required [(ngModel)]= "product.brand" name="brand">
          </div>
          <div class="form-group" style="padding-bottom: 10px;">
            <label for="price">Product Price</label>
            <input type="text" id="price" class="form-control" placeholder="Enter the product price" required [(ngModel)]= "product.price" name="price">
          </div>
          <button type="submit" class='btn btn-success' (click)="onSubmit()">Add Product</button>
    </form>
</div>